@font-face {
font-family: 'roboto';
 src: local('roboto'), url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
}
button {
width: 80%;
max-width: 500px;
padding: 25px;
background-color: #0b2a5b;
border: none;
border-radius: 20px;
font-family: 'roboto', sans-serif;
font-size: 40px;
font-weight: 600;
box-shadow: #494949 2px 2px 8px;

}
.primary {
  background-color: #c2c2c2;
  color: #0b2a5b;
  border: 2px solid #0b2a5b;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}
.secondary {
  
  color: white;
}