@font-face {
font-family: 'roboto';
 src: local('roboto'), url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
}
button {
width: 80%;
max-width: 500px;
padding: 25px;
background: #0b2a5b;
color: white;
border: none;
border-radius: 20px;
font-family: 'roboto', sans-serif;
font-size: 40px;
font-weight: 600;
box-shadow: #494949 2px 2px 8px;

}